header{
    background-color: black;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 65px;
}


@media screen and (max-width: 800px) {
    header{
        width: 90%;
        border-radius: 50px;
    }
    header img{
        width: 55px;
    }
}